@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  border: none;
  font-weight: 500;
}

#About {
  scroll-margin-top: 100px;
}

#Projects {
  scroll-margin-top: 100px;
}

#Contact {
  scroll-margin-top: 100px;
}

p {
  max-width: 75ch;
}

.h-screen-custom {
  height: calc(100vh - 60px);
}

.title-home {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 13ch;
  animation: typing 2s steps(13), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.mt-60-px {
  margin-top: 60px;
}
